body {
    overflow-x:hidden;
}
.primary-bg {
    background-color:darkcyan;
}
#dLogin label, #dLogin a { color:#fff; text-decoration:none; font-weight:normal;}
#dMyMenu-bottom-on a, #dMyMenu-bottom-off a {
    text-decoration:none;
}
#dMyMenu-bottom-on h5, #dMyMenu-bottom-off h5 {
    font-family:'Oswald'; text-transform:uppercase; color:#fff;
}
.titoloHome { font-family:'Roboto Condensed'; letter-spacing:-0.2px; word-spacing:-2px; font-weight:normal; }
.titoloHomeSub { font-family:'Roboto Condensed'; letter-spacing:-0.2px; word-spacing:-1px; color:#303030; }
.titolo { font-family:'Roboto Condensed'; }
.titoloSub { letter-spacing:0px; font-family:'RobotoRegular'; line-height:175%; font-weight:normal; text-align:left; color:#707070; word-spacing:-1px; }
.logo { font-family: 'Roboto Condensed'; color:#fff; }
#ulLogin { color:#fff; text-transform:none; font-family:'Roboto';}
#dLogin sub { font-size:12px;}

#dBackBanner { background-color:#fff; background: rgba(255, 255, 255, 0.7); }
#stringError li
    { font-size:75%; text-transform:uppercase; letter-spacing:0; display:block; width:100%; float:left; }
.modal-footer
    { border:0; margin-top:4px; }
.modal-content, #dBackBanner
    { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius:2px; behavior:url('border-radius.htc'); }
.dropdown-menu
    { -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius:1px; behavior:url('border-radius.htc');}
.modal-title, #messageHeader span
    { font-weight:700; }
.itemRow:hover
    { background-color:#f8f8f8; }
.tooltip-icon
    { float:right; margin-left:4px; color:#303030; }
.popover, .btn, .form-control, .tooltip-inner, .nav-tabs li a
    { -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius:1px; behavior:url('border-radius.htc'); }
.nav-tabs li a
    { padding:6px; padding-left:12px; padding-right:12px; }
.tooltip-inner 
    { font-weight:bold; }
.popover-content 
    { font-size:12px; color:#303030; }
.input-group-addon
    { background-color:#fff; }
.culture
    { cursor:pointer; }
.irs-bar, .irs-bar-edge
    { /*background:#020202; border-color:#020202;*/ }
.irs-min, .irs-max
    { background-color:#fff; color:#fff; }
.irs-single
    { background-color:#fff; color:#454545; font-weight:bold; }
.irs-slider.single 
    { background: #fff; }
.tree li
    { border:0; }
.parent .btn
    { border:none; padding:3px; background:none; }
.parent .btn:focus
    { background:#fff; }
.tree .dropdown-menu
    { border:0; /*border:1px solid #e1e1e1; box-shadow:0 0 0;*/ }
.dropdown-menu li
    { margin:0; }
.dropdown-menu li a:hover
    { background:#f9f9f9; }
.popover.fade.right.in
    { width:75%; }



.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:5px;left:100%;margin-top:-6px;margin-left:-1px; -webkit-border-radius:0 1px 1px 1px;-moz-border-radius:0 1px 1px 1px;border-radius:0 1px 1px 1px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#container_loader
    { position:fixed; margin:0%; left:0%; padding:10px; width:98%; z-index:96999999999999999999999; 
      line-height:125%; text-align:left; display:none; 
      display:none; }
#container_loader div {
    -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; behavior:url('border-radius.htc');
}
.systemError
    { padding:1%; width:98%; font-weight:normal; line-height:125%; letter-spacing:0; margin-bottom:1px; text-align:left;
}
#container_error 
    { position:fixed; margin-top:1%; left:1%; padding:10px; width:96%; z-index:299000000000000000000000000; 
      text-align:left; display:none; background-color:#fff; border:1px solid #e1e1e1;
      -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; behavior:url('border-radius.htc')}
#errorTitle
    { font-family:'Roboto'; }
#errorText, #container_loader h6
    { font-family:'RobotoRegular'; line-height:150%; font-style:italic; color:#606060;  }
#container_loader h6 {
    font-weight:bold;
}

#help, #helpContainer { position: fixed; bottom: 5px; right: -10px; z-index:100; }
#helpContainer { bottom: 44px; right: 5px; border:1px solid darkcyan; }
#helpContainer .label-warning .btn { margin-right:-14px; }
#helpContainer .label-warning .btn:hover { color:#fff; }
#helpContainer ul { margin-top:10px; margin-bottom:10px; margin-left:-20px; }
#helpContainer ul a { color:#454545; font-size:12px; }
#helpContainer ul li { list-style-type:none; font-family:'RobotoRegular'; }
.cBianco { color:#fff;}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active,
.open>.dropdown-toggle.btn-primary  {
    background-color:darkcyan; border-color:darkcyan;
}
