<div class="container-fluid">
    <div id="header" style="margin-top:110px;">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
            <div class="col-xs-12 panel panel-default">
                <div class="col-xs-12">
                    &nbsp;
                </div>
                <div class="col-xs-12">
                    <h4>
                        <i class="fa fa-code-fork pull-left"></i>
                        I miei formulari
                    </h4>
                </div>
                <div class="col-xs-12">
                    <a id="btnAddModels" href="#" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom"
                       title="Aggiungi">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-xs-12">
                    <hr />
                </div>
                <div class="col-xs-12" style="padding:0;">
                    <div id="models-tree-container">
                    </div>
                </div>
                <div class="col-xs-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
            <div class="row panel panel-default document">
                <div id="models-content-container">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="col-xs-12">
                                &nbsp;
                            </div>
                            <div class="col-xs-12">
                                <span class="btn">
                                    <i class="fa fa-plus"></i>
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="col-xs-12">
                                &nbsp;
                            </div>
                            <div class="col-xs-12">
                                <i class="btn btn-xs fa fa-text-width"></i>
                                <i class="btn btn-xs fa fa-text-height"></i>
                                <i class="btn btn-xs fa fa-list-ol"></i>
                                <i class="btn btn-xs fa fa-calendar-o"></i>
                                <i class="btn btn-xs fa fa-superscript"></i>
                                <i class="btn btn-xs fa fa-list-ul"></i>
                                <i class="btn btn-xs fa fa-file-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr />
                    </div>
                </div>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>
<div id="modal-models-edit-container">
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ html: true });
        $('[data-toggle="popover"]').popover({ html: true });
        _app_view_models_tree = new app_view_models_tree({ el: $("#models-tree-container") });
        _app_view_models_edit = new app_view_models_edit({ el: $("#modal-models-edit-container") });
        _app_view_models_content = new app_view_models_content({ el: $("#models-content-container") });
    });
</script>

