<div id="modal-category-edit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="fa fa-code-fork fa-lg pull-left"></i>
                <h4 id="modal-category-edit-title" class="modal-title">
                Aggiungi una nuova categoria</h4>
            </div>
            <div class="modal-body">
                <label id="lbl-modal-category-edit-descE" for="txtDescE">Titolo</label>
                <input id="txt-modal-category-edit-descE" type="text" class="form-control input-md" placeholder="Scrivi qui la descrizione della categoria..." />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnOk"><strong>OK</strong></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>