<div class="bs-example" data-example-id="simple-table">
    <table class="table table-hover table-condensed">
        <!--<caption>Optional table caption.</caption>-->
        <thead>
            <tr>
                <th class="col-xs-1">#</th>
                <th class="col-xs-10">Formulari</th>
                <th class="col-xs-1"></th>
            </tr>
        </thead>
        <tbody id="models-container">
            <!--<tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>-->
        </tbody>
    </table>
</div>
<script>
    $(function () {
        _app_view_models_tree.load();
    });
</script>
