<div id="category-container">
    <ul class="tree">
    </ul>
</div>
<script>
    $(function () {
        _app_view_category_tree.load();
    });
</script>
    <!--<li>
        <a href="#">TECH</a>
        <ul>
            <li>Company Maintenance</li>
            <li>
                Employees
                <ul>
                    <li>
                        Reports
                        <ul>
                            <li>Report1</li>
                            <li>Report2</li>
                            <li>Report3</li>
                        </ul>
                    </li>
                    <li>Employee Maint.</li>
                </ul>
            </li>
            <li>Human Resources</li>
        </ul>
    </li>
    <li>
        XRP
        <ul>
            <li>Company Maintenance</li>
            <li>
                Employees
                <ul>
                    <li>
                        Reports
                        <ul>
                            <li>Report1</li>
                            <li>Report2</li>
                            <li>Report3</li>
                        </ul>
                    </li>
                    <li>Employee Maint.</li>
                </ul>
            </li>
            <li>Human Resources</li>
        </ul>
    </li>-->