<div class="row">
    <div class="col-xs-12">
        <h3 id="modelTitle" class="text-center">
        </h3>
    </div>
    <!-- left header -->
    <div class="col-xs-4">
        <div class="col-xs-12">
            &nbsp;
        </div>
        <div class="col-xs-12">
            <span class="btn">
                <i class="fa fa-plus"></i>
                <i class="fa fa-caret-down"></i>
            </span>
        </div>
    </div>
    <!-- right header -->
    <div class="col-xs-8">
        <div class="col-xs-12">
            &nbsp;
        </div>
        <div id="modelToolbarRight" class="col-xs-12">
            <i class="btn btn-xs fa fa-text-width disabled"></i>
            <i class="btn btn-xs fa fa-text-height disabled"></i>
            <i class="btn btn-xs fa fa-list-ol disabled"></i>
            <i class="btn btn-xs fa fa-calendar-o disabled"></i>
            <i class="btn btn-xs fa fa-superscript disabled"></i>
            <i class="btn btn-xs fa fa-list-ul disabled"></i>
            <i class="btn btn-xs fa fa-file-o disabled"></i>
        </div>
    </div>
    <!-- body -->
    <div class="col-xs-12" style="border-bottom:1px solid #e1e1e1;">
        <!--model section -->
        <div class="col-xs-4">

        </div>
        <!-- model fields -->
        <div class="col-xs-8" style="border-left:1px solid #e1e1e1;">

        </div>
    </div>
</div>